開催地

<%# @events.each do |event| %>
  <h2><%#= event.name %></h2>
  <p><%#= event.start_date %> to <%#= event.end_date %></p>
  <p><%#= event.details %></p>
  <%#= link_to 'Show', event_path(event) %>
  <%#= link_to "Add to Google Calendar", event.google_calendar_url, target: '_blank' %>
<%# end %>