/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 * 
 */
 .navbar-brand {
    font-family: 'Noto Serif JP', serif;
 }
 
 .navbar-nav {
    margin-right: 20px;
    padding-right: 20px;
}

.sidebar {
  width: 250px; /* サイドバーの幅 */
  position: fixed;
  top: 0;
  left: -250px; /* サイドバーを画面外に隠す */
  height: 100vh; /* 画面の高さ全体に広がる */
  background-color: #333; /* 背景色 */
  transition: left 0.3s; /* 開閉のアニメーション */
}

.sidebar.active {
  left: 0; /* サイドバーを表示 */
}

.sidebar h2 {
  font-size: 20px;
  color: #fff;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar ul li {
  margin: 10px 0;
}

.sidebar ul li a {
  color: #fff;
  text-decoration: none;
}

.sidebar p {
  color: #fff;
  font-size: 14px;
}

