/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 * 
 */
.navbar-brand {
  font-family: 'Noto Serif JP', serif;
  font-size: 30px;
 }
 
.navbar-nav {
  margin-right: 20px;
  padding-right: 20px;
}

.sidebar {
  width: 250px; /* サイドバーの幅 */
  position: absolute;
  overflow-y: auto; /* 垂直方向のスクロールを許可 */
  z-index: 1000; /* サイドバーのz-indexを高く設定 */
  top: 71px;
  left: -300px; /* サイドバーを画面外に隠す */
  height: 100vh; /* 画面の高さ全体に広がる */
  background-color: rgba(0, 0, 0, 0.5); /* 背景色 */
}

.scroll-lock {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

.overlay {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
}


.sidebar.active {
  left: 0; /* サイドバーを表示 */
  display: block;
}

.sidebar h2 {
  font-size: 20px;
  color: #fff;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar ul li {
  margin: 10px 0;
}

.sidebar ul li a {
  color: #fff;
  text-decoration: none;
}

.sidebar p {
  color: #fff;
  font-size: 14px;
}

body {
  font-size: 10px !important;
}


.bi-compass {
  margin-left: 10px; /* アイコンの左の余白を追加 */
}

#sidebarToggle i {
  font-size: 30px; /* 例としてのサイズ */
}

.sidebar ul li a:hover {
  color: blue; /* ホバー時のリンクのテキストの色 */
}

.sidebar ul li img {
  width: 40px; /* 画像の幅 */
  height: 40px; /* 画像の高さ */
  border-radius: 20px; /* 丸みを帯びた画像 */
  margin-right: 10px; /* 画像の右の余白 */
}

.sidebar-title {

  background-color: #202020; /* 背景色 */
  color: white; /* 文字色 */
  border-radius: 10px; /* 角の丸み */
}

#sidebar {
  background-color: #202020; /* サイドバーの背景色 */
  color: white; /* サイドバー内のテキストの色 */
}

.user-link {
  padding: 5px;
}

.user-name-link {
  color: white; /* リンクのテキストの色 */
  text-decoration: none; /* 下線の削除 */
}

.user-name-link:hover {
  color: red; /* ホバー時のリンクのテキストの色 */
}

.sidebar ul li.user-link {
  background-color: #202020;
  color: #fff; /* 通常時の文字色（白） */
  padding: 5px;
  border-radius: 10px;
}

.sidebar ul li.user-link:hover {
  background-color: #f0f0f0; /* ホバー時の背景色（灰色） */
  color: #000; /* ホバー時の文字色（黒） */
  border-radius: 5px;
}

.sidebar ul li.user-link a {
  color: inherit; /* 親のliから文字色を継承 */
  text-decoration: none;
}

.sidebar ul li.user-link a:hover {
  text-decoration: none; /* ホバー時に下線を消す */
}

.user-icon {
  width: 50px;   /* 例として50pxに設定 */
  height: 50px;  /* 例として50pxに設定 */
  border-radius: 50%;  /* これで画像が円状になります */
  object-fit: cover;   /* 画像のアスペクト比を維持して、指定されたボックスに収まるように調整 */
}

.user-content {
  display: flex;
  align-items: center; /* 縦方向の中央寄せ */
}

.participant {
    list-style-type: none;
    padding-left: 0;
    margin-left: 0;
}

.participant-name {
    margin-right: 10px;
}

/*.center-container {*/
/*  display: flex;*/
/*  justify-content: center;*/
/*  align-items: center;*/
/*  min-height: 100vh;*/
/*}*/

.event_card_title {
  font-size: 20px;
  margin-bottom: 0;
  padding-left: 180px;
}

.like-button {
  padding-right: 180px;
}

.heart-button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  font-size: 24px;
  color: red;
  &:hover {
  color: red;
  }
}

* {
  box-sizing: border-box;
}
 
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}
 
body {
  display: flex;
  flex-direction: column;
}
 
footer {
  margin-top: auto;
  padding: 30px 0;
  background: #89c7de;
  color: #fff;
  text-align: center;
}

.custom-modal-header {
    background-color: #e0e0e0;
}

.myapp-close-btn {
  font-size: 20px;
}

.event-modal-title {
  /*padding-left: 300px;*/
  margin: 0 auto;
  font-size: 30px;
  margin-bottom: 0;
}

.close {
  margin-left: 0 !important;
}

.edit-event-title {
  text-align: center;
  margin-top: 10px
}

/* タブレットや小さいデスクトップの画面サイズの場合 */

/* モバイルデバイスの場合 */
@media (max-width: 576px) {
  .event-modal-title {
    padding-left: 50px; /* 小さい画面サイズに対応するスタイル */
    font-size: 24px;    /* フォントサイズを少し小さくする */
  }
}

.fs-30 {
  font-size: 30px;
}