// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.center-text {
  text-align: center;
}

.scrollable-div {
  display: flex;
  overflow-x: auto;
}

#scrollable-div {
  scrollbar-width: thin;
  scrollbar-color: rgba(155, 155, 155, 0.7) transparent;
}

#scrollable-div::-webkit-scrollbar {
  width: 6px;
}

#scrollable-div::-webkit-scrollbar-track {
  background: transparent;
}

#scrollable-div::-webkit-scrollbar-thumb {
  background-color: rgba(155, 155, 155, 0.7);
  border-radius: 20px;
  border: transparent;
}

.full-width-image {
  width: 100%;
  height: 30vh; /* vhはviewport heightの略で、ブラウザの表示領域の高さを指します */
  object-fit: cover; /* 画像のアスペクト比を保ちながら全ての領域を埋める */
}

.swiper-slide img {
  width: 100%;
  height: 70px;
}